.page-section {
    margin: 80px 60px;
}
.table {
    overflow-x: scroll;
  }
  
  .table-head,
  .table-row,
  .table-foot {
    padding: 10px 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
    margin-bottom: 40px;
  }
  
  .table-head,
  .table-foot {
    border-left: 20px solid var(--red);
  }
  
  .table-row {
    padding: 10px 30px 10px 50px;
  }
  
  .table-head__list,
  .table-row__list,
  .table-foot__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .table-head__list-item,
  .table-row__list-item,
  .table-foot__list-item {
    display: inline-flex;
    margin: 0 20px;
    min-width: 80px;
  }
  
  .table-head__list-item:nth-child(3) {
    width: 150px;
  }
  
  .table-head__list-item:last-child,
  .table-row__list-item:last-child,
  .table-foot__list-item:last-child {
    margin-left: auto;
  }
  .order-summary__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .order-summary__list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    width: 200px;
  }
  
  .order-summary__list-item:last-child {
    margin-left: auto;
  }
  
  .dash {
    display: inline-block;
    margin-left: auto;
    margin-right: 30px;
  }
  
  .order-summary__list-item > p {
    margin: 0;
  }
  